.thumb{
  width: 300px;
  transition: 300ms all ease; /*Efecto para que no sea dura la transicion*/
}

.subtitulo{
  border: 1px solid navy;
  background: green;
  padding: 5px;
  color: black;
  font-size: 20px;
}

.subtitulo2{
  border: 1px solid navy;
  background: red;
  padding: 10px;
  color: white;
  font-size: 25px;
}

.grande{
  width: 600px;
}

.titulo{
  border: 1px solid navy;
  padding: 10px;

}

.tituloColor{
  background: blue;
  color: white;
}
